- if user_signed_in?
  - if trips.present?
    %table.table-striped.table-hover.table-condensed.table-bordered
      %tbody
        %tr
          %th= t('trip_name')
          %th= t('people_count')
          %th= t('driver_included')
          %th= t('trip_distance')
          %th= t('fuel_cost')
          %th= t('avg_consumption')
          %th= t('tanking_cost')
          %th.b= t('.cost_per_person')
          %th= t('email')
          %th= t('invoice')
          - if current_user.try(:admin?)
            %th= t('.user_id')
            %th= t('.user_email')
            %th= t('.created_at')

        - trips.each do |trip|
          %tr
            %td= trip.trip_name
            %td= trip.people_count
            %td= trip.driver_included
            %td= trip.trip_distance
            %td= trip.fuel_cost
            %td= trip.avg_consumption
            %td= trip.tanking_cost
            %td= trip.cost_per_person
            %td= trip.email
            -if trip.invoice?
              %td
                = link_to (fa_icon "download"), trip.try(:invoice).url, style: 'color:#FFFFFF;'
            -else
              %td= ""
            - if current_user.try(:admin?)
              %td= trip.user_id
              %td= trip.user.try(:email)
              %td= trip.created_at
  .container-fluid
    %br
    %br
      = button_to "New Calculation", new_trip_path, class: 'btn btn-info calculate-btn', method: :get
