- if trip.errors.any?
  #error_explanation
  .alert.alert-danger
    %h5
      = pluralize(trip.errors.count, "error")
      prohibited this trip from being saved:
    %ul
      - trip.errors.full_messages.each do |message|
        %li= message

- if trip.cost_per_person
  .container
    .form-group.form-horizontal
      .card.card-inverse.card-success.text-xs-center
        .card-block
          %blockquote.card-blockquote
            %p
            %footer
              = t('.cost_per_person')
              = number_with_precision(trip.cost_per_person, precision: 2)

              - if trip.driver_included?
                = t('.driver_participation')
              - else
                = t('.driver_free')
  .container
    = button_to "New Calculation", new_trip_path, class: 'btn btn-info calculate-btn', method: :get
    %br
      - if user_signed_in?
        = button_to "Show all my trips", trips_path, class: 'btn btn-info calculate-btn', method: :get

.container
  .form-group.form-horizontal
    = simple_form_for trip, url: trips_path do |f|
      = f.hidden_field :user_id, value: current_user.try(:id)
      %label
      = f.input :trip_name, as: :string, input_html: { placeholder: t('.optional'), autofocus: true }
      %label
      = t('.people_count')
      = f.input :people_count, input_html: { min: 1 }, label: false, as: :integer
      %label
      = t('.driver_included')
      = f.input :driver_included, class: 'cr-icon fa fa-check', label: false, as: :boolean
      %label
      = t('.trip_distance')
      = f.input :trip_distance, input_html: { min: 1 }, label: false, as: :integer
      %label
      = t('.fuel_cost')
      = f.input :fuel_cost, input_html: { min: 1 }, label: false, as: :decimal
      %label
      = t('.avg_consumption')
      = f.input :avg_consumption, input_html: { min: 1 }, label: false, as: :decimal
      %label
      = t('.tanking_cost')
      = f.input :tanking_cost, input_html: { min: 1 }, label: false, as: :decimal
      - if user_signed_in?
        = t('.invoice')
        %p
        = f.file_field :invoice
        %p
      %label
        = f.input :email, as: :string, input_html: { placeholder: t('.optional'), autofocus: true }
        = f.submit t('.submit'), class: 'btn btn-info calculate-btn', disabled: trip.cost_per_person?

- if user_signed_in?
  .container
    = button_to "Show all my trips", trips_path, class: 'btn btn-info calculate-btn', method: :get

