.container
  .form-group.form-horizontal
    = simple_form_for @trip, url: trips_path do |f|
      %label
        = t('.people_count')
      = f.input :people_count, input_html: { min: 1 }, label: false, as: :integer
      %label
        = t('.driver_included')
      = f.input :driver_included, label: false, as: :boolean
      %label
        = t('.trip_distance')
      = f.input :trip_distance, input_html: { min: 1 }, label: false, as: :integer
      %label
        = t('.fuel_cost')
      = f.input :fuel_cost, input_html: { min: 1 }, label: false, as: :decimal
      %label
        = t('.avg_consumption')
      = f.input :avg_consumption, input_html: { min: 1 }, label: false, as: :decimal
      %label
        = t('.tanking_cost')
      = f.input :tanking_cost, input_html: { min: 1 }, label: false, as: :decimal
      %label
      = f.input :email, as: :string
      = f.submit t('.submit'), disabled: @trip.cost_per_person?

- if @trip.cost_per_person
  .container
    .form-group.form-horizontal
      .card.card-inverse.card-success.text-xs-center
        .card-block
          %blockquote.card-blockquote
            %p
            %footer
              = t('.cost_per_person')
              = number_with_precision(@trip.cost_per_person, precision: 2)

              - if @trip.driver_included?
                = t('.driver_participation')
              - else
                = t('.driver_free')
  .container
    = button_to "New Calculation" , new_trip_path, method: :get

