<!DOCTYPE html>
<html>
<head>
  <title>Tripsplitter</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container-narrow">
    <div class="navbar-header">
      <span class="btn btn-info"><%= link_to "Tripsplitter", root_path %></span>
      <span>Tripsplitter: enjoy your common ride!</span>
      <% if user_signed_in? %>
        <b><%= "Welcome, #{current_user.email}!" %></b>
      <% end %>
      <% if current_user.try(:admin?) %>
        <b><%= "You've got admin rights!" %></b>
      <% end %>
      <% if user_signed_in? %>
        <span><%= render "user_nav" %></span>
      <% else %>
        <b><%= "Welcome, Guest!" %></b>
        <%= render "guest_user_nav" %>
      <% end %>
      <hr>
      <%= yield %>
  </div>
</body>
</html>
